

	
	<div id="broadcaster-info">
		<p id="broadcaster-name">
			<span class="flag-icon flag-icon-{broadcaster_language}"></span> <span id="broadcaster_name">{display_name}</span>
		</p>
		<p id="broadcaster-status">
			<span style="display:{live_display};" class="live">LIVE</span> 
			<span style="display:{notlive_display};">offline</span>
		</p>
		
		<p id="follow"><img src="inc/img/follow.png" alt="Follow" /> {follower_total}</p>
	</div>
	
	<div id="broadcaster-img">
		<img src="{profile_image_url}" alt="Profil-Bild" id="profil_img" />
	</div>
	
	<div id="stream-info">
		<p id="broadcaster-title">
			<span class="title">Title:</span><br />
			{title}
		</p>
		<p id="broadcaster-game">
			<span class="title">Spiel / Kategorie:</span><br />
			{game_name}
		</p>
	</div>