<!DOCTYPE html>
<html lang="de">
<head>
	<base href="https://twitchapp.skeeve-live.de/">
	<meta charset="utf-8">
	
	<title>Twitch Stream Infos bearbeiten</title>
	
	<link rel="stylesheet" href="inc/css/stylesheet.css" type="text/css" />
	{css_iframe}
	<link rel="stylesheet" href="inc/css/jquery-ui.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css" />
	
	<script src="inc/js/jquery-3.5.1.min.js"></script>
	<script src="inc/js/jquery-ui.min.js"></script>
	
	<script src="inc/js/functions.js"></script>
</head>
<body>
	<!-- Content Start -->
	{content}
	<!-- Content Ende -->
</body>
</html>